<main class="w-[75vw] flex flex-col gap-y-2 p-2 items-center">
  <section class="w-50" *ngIf="ticket">
    <p class="font-bold">Référence ticket : {{ticket.ref}}</p>
    <p *ngIf="interventions !== null">Ouvert le : {{ticket.interventions![0].date | date: 'dd MMMM yyyy'}}</p>
    <p>{{ticket.materiel.client.raisonSociale.raisonSociale}} {{ticket.materiel.client.nom}}</p>
    <p>Materiel : {{ticket.materiel.typeMateriel.type}}</p>
    <p>Marque : {{ticket.materiel.marque.marque}}</p>
    <p>Modèle : {{ticket.materiel.modele.modele}}</p>
    <!--   <p class="text-xs underline" (click)="urlHandler()">{{ticket.materiel.modele.url}}</p> -->
  </section>
  <section>
    <!--    <app-button [label]="'Ajouter une intervention'" (click)="addInterventionHandler()"></app-button>
  -->
  </section>
  <section>

  </section>
  <section class="flex flex-col gap-y-4">
    <!--     <app-intervention class="w-[100%]" *ngFor="let intervention of interventions" [intervention]="intervention">
    </app-intervention> -->
  </section>
</main>