<section class="w-[100vw] flex justify-center mt-8">
  <article class="w-[90%]  font-bold flex justify-between items-center">
    <a routerLink="..">
      <h2 class="text-orange underline">Retour aux tickets</h2>
    </a>
    <h2 *ngIf="!ticketsService.isSidebarOpen" class="underline cursor-pointer"
      (click)="ticketsService.isSidebarOpen=true">Afficher la base de connaissances
    </h2>
  </article>
</section>
<section class="w-[100vw] flex justify-center items-start gap-y-2 p-2 gap-x-4 mt-4">
  <article class="w-[50vw] flex justify-center" *ngIf="ticket">
    <app-ticket-summary [ticket]="ticket" [openedDate]="openedDate"></app-ticket-summary>
  </article>
  <article class="w-[50vw] flex justify-center">
    <app-interventions-list *ngIf="interventions?.length !== 0"
      [interventions]="interventions!"></app-interventions-list>
  </article>
</section>
<app-sidebar></app-sidebar>
<app-modal *ngIf="showModal" [modal]="modal" (modalRightClick)="modalRightBtnHandler()"></app-modal>