<section class="w-[100vw] flex justify-center mt-8">
  <article class="w-[90%] flex justify-end items-center gap-x-4">
    <div>
      <div>
        <button routerLink=".." class="flex bg-[#6941C6] text-white px-4 py-2 rounded-md">Retour à la liste des
          tickets</button>
      </div>
    </div>
    <div>
      <div>
        <button class="flex bg-[#6941C6] text-white px-4 py-2 rounded-md"
          (click)="ticketsService.isSidebarOpen=true">Afficher
          la base de connaissances
        </button>
      </div>
    </div>
  </article>
</section>
<section class="w-[100vw] flex justify-center items-start gap-y-2 p-2 gap-x-4 mt-4">
  <article class="w-[50vw] flex justify-center" *ngIf="ticket">
    <app-ticket-summary [ticket]="ticket" [openedDate]="openedDate" (submit)="addNewIntervention($event)"
      @fade></app-ticket-summary>
  </article>
  <article class="w-[50vw] flex justify-center">
    <app-interventions-list *ngIf="interventions?.length !== 0" [interventions]="interventions!"
      @fade></app-interventions-list>
  </article>
</section>
<app-sidebar></app-sidebar>
<app-modal *ngIf="showModal" [modal]="modal" (modalRightClick)="modalRightBtnHandler()"></app-modal>
<app-modal *ngIf="ticketsService.showModal" [modal]="ticketsService.modal"
  (modalRightClick)="ticketsService.showModal=false"></app-modal>
