/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  width: 99.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFD;
  color: #140a82;
}

.active {
  text-decoration: underline;
}