<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<main class="flex flex-col justify-center items-center">
  <section class="py-5 w-3/6">
    <h3 class="text-lg font-medium leading-6 text-gray-900">
      Ajouter un nouveau client
    </h3>
    <p class="mt-1 text-sm text-gray-600">
      Créez un nouveau client pour votre entreprise dans le formulaire ci
      dessous.
    </p>
  </section>

  <section class="w-3/6" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </section>

  <div *ngIf="client" class="w-3/6 mx-auto">
    <app-client-form [clientToEdit]="client" (newClient)="submitHandler($event)"></app-client-form>
  </div>

</main>