<button *ngIf="!warning" [type]="type || 'button'"
  class="{{setFullSize}} min-w-[75px] shadow-lg md:min-w-[100px] px-1 py-2 md:p-4 active:translate-x-0.5 active:translate-y-0.5 hover:border text-sm bg-[#6941C6] text-white font-bold rounded-md">{{label
  | titlecase}}
</button>

<button *ngIf="warning" [type]=" type || 'button'" class=" {{setFullSize}} shadow-lg min-w-[75px] md:min-w-[100px] px-1 py-2 md:p-4 active:translate-x-0.5 active:translate-y-0.5
  hover:border-[#6941C6] hover:border text-sm bg-white text-[#6941C6] rounded-md
  font-bold">{{label
  | titlecase}}
</button>
