<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<main class="flex flex-col justify-center items-center" *ngIf="profilService.user">
  <section class="py-5 flex justify-between items-center">
    <article class="flex flex-col gap-2">
      <div class="font-bold text-3xl">
        <h2>Conseillers</h2>
      </div>
      <div>
        <p>Bonjour {{profilService.user.prenom | titlecase}}</p>
      </div>
    </article>
  </section>

   <!-- separator -->

  <section class=" w-4/6" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </section>

  <section class="py-5 w-4/6" *ngIf="profilService.user.roles.includes('admin')">
    <app-admin-dashboard></app-admin-dashboard>
  </section>

   <!-- separator -->

  <section class=" w-4/6" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </section>

</main>