<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<main class="flex flex-col justify-center items-center" *ngIf="profilService.user">
  <section class="py-5 w-3/6">

    <h3 class="text-lg font-medium leading-6 text-gray-900">Profil</h3>
    <p class="mt-1 text-sm text-gray-600" *ngIf="profilService.user">
      Bonjour {{profilService.user.prenom |titlecase}}
    </p>

  </section>

  <section class="py-5 w-3/6" *ngIf="profilService.user.roles.includes('admin')">
    <app-admin-dashboard></app-admin-dashboard>
  </section>

  <section class=" w-3/6" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </section>

</main>
