<main class="flex flex-col items-center min-h-[100vh]">
  <header class="flex justify-center items-center font-bold">
    <nav>
      <ul>
        <li>
          <a routerLink="tickets" routerLinkActive="active">Tickets</a>
        </li>
        <li>
          <a routerLink="materiel" routerLinkActive="active">Materiel</a>
        </li>
        <li>
          <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <li>
          <a routerLink="profil" routerLinkActive="active">Profil</a>
        </li>
        <li>
          <p class="cursor-pointer" (click)="conn.logout()">Déconnexion</p>
        </li>
      </ul>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
