<main class="flex flex-col items-center min-h-[100vh]">
  <header class=" flex justify-center items-center font-semibold  w-screen h-16">
    <nav class="flex justify-between w-5/6  ">
      <ul class="flex justify-center gap-8  w-3/6">
        <li>
          <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <li>
          <a routerLink="tickets" routerLinkActive="active">Tickets</a>
        </li>
        <li>
          <a routerLink="materiel" routerLinkActive="active">Materiel</a>
        </li>
        <li>
          <a routerLink="profil" routerLinkActive="active">Profil</a>
        </li>
      </ul>
      <div>
        <p class="cursor-pointer" (click)="conn.logout()">Déconnexion</p>
      </div>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>