header {
  background-color: #6941C6;

  >nav {
    >ul {
      >li:hover {
        background-color: rgba(255, 255, 255, 0.13);
        border: solid 1px #7554c2;
        border-radius: 7px;
      }
      >li {
        width: 90px;
        text-align: center;

        >a {
          color: #fff;
        }
       
      }
    }
    >div {
      >p {
        color: #fff;
      }
      >p:hover {
        color: #fff;
      }
    }
  }
}


