<main class="flex flex-col items-center min-h-[100vh]">
  <header class=" flex justify-center items-center font-semibold  w-screen h-16">
    <nav class="flex justify-between w-5/6  ">
      <ul class="flex justify-center gap-8  w-3/6">
        <li>
          <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <li>
          <a routerLink="tickets" routerLinkActive="active">Tickets</a>
        </li>
        <li>
          <a routerLink="materiel" routerLinkActive="active">Materiel</a>
        </li>
        <li>
          <a routerLink="profil" routerLinkActive="active">Profil</a>
        </li>
      </ul>
      <div>
        <button class="cursor-pointer flex gap-2" (click)="conn.logout()"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
        </svg>
        </span> Déconnexion</button> 
      </div>
    </nav>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>