<section class="flex flex-col gap-y-4 border-b border-gray pb-2">
  <article>
    <h3 *ngIf="client.raisonSociale" class="font-bold">{{client.raisonSociale.raisonSociale | uppercase}}</h3>
    <p>{{client.nom}}</p>
    <span class="flex">
      <p class="font-bold">Contrat n°&nbsp;</p>
      <p class="text-orange font-bold">{{client.contrat}}</p>
    </span>
  </article>
  <article class="text-xs">
    <p>{{client.adresse}}</p>
    <p>{{client.codePostal}} {{client.ville}}</p>
    <p>Tél: {{client.telephone}}</p>
  </article>
</section>